
.home{
min-height: 100vh;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}

.weather_show_container{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(2,0fr); 
    gap: 10%; 
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 835px) {
    .weather_show_container{
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(1,0fr); 
        gap: 10%; 
        align-items: center;
        justify-content: center;
    }
}

